# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### .gitignore template
# Created by .ignore support plugin (hsz.mobi)

# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/vcs.xml
rebrand-subs/
captions/
page_*.jpeg
exercises/
Subtitles
documents/
.env/
logs.txt
data.db
*.key
*.indd
*.png
.DS_Store
.vscode/
__pycache__/
*.scriv
*.pyc
*.screenflow
*.mp4
*.mov
*.cmproj
exports/
videos/
*.numbers
*.sketch

venv/
.idea/Learn_Python_GUI_programming_using_Qt_framework.iml
.idea/encodings.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
github/.gitignore
github/1 - Alarm/
github/10 - Standard Dialogs/
github/13 - Incorporating UI in code/
github/14 - Threading/
github/15 - Resource Files/icons.qrc
github/15 - Resource Files/icons_rc.py
github/15 - Resource Files/main.ui
github/15 - Resource Files/mainGui.py
github/15 - Resource Files/resource-file.py
github/16 - QMainWindow/QMainWindow.py
github/16 - QMainWindow/icons.qrc
github/16 - QMainWindow/icons_rc.py
github/16 - QMainWindow/mainGui.py
github/16 - QMainWindow/mainWindow.ui
github/2 - Calculator/
github/3 - Currency Converter/
github/4 - Signals/
github/6 - More Signals/
github/8 - QFileDialog Class/
github/9 - Dumb Dialogs/
github/LICENSE
github/PyDataMan/
github/README.md
github/python3code/
